.footer {
    position: fixed;
    bottom: 0;
    left: 15%;  
    width: 85%;  
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    z-index: -1;
}

.dashboard-content {
    padding-bottom: 200px;
}